<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--获取redis连接池配置的配置-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大等待时间-->
        <property name="maxWaitMillis" value="20000"/>
        <!--设置最大来接数-->
        <property name="maxTotal" value="20"/>
        <!--最大空闲来接数-->
        <property name="maxIdle" value="10"/>
        <!--最小空闲来结束-->
        <property name="minIdle" value="5"/>
    </bean>

    <!--使用集群方式-->
    <bean id="hostAndPort1" class="redis.clients.jedis.HostAndPort">
        <constructor-arg name="host" value="192.168.1.166"/>
        <constructor-arg name="port" value="6000"/>
    </bean>
    <bean id="hostAndPort2" class="redis.clients.jedis.HostAndPort">
        <constructor-arg name="host" value="192.168.1.166"/>
        <constructor-arg name="port" value="6001"/>
    </bean>
    <bean id="hostAndPort3" class="redis.clients.jedis.HostAndPort">
        <constructor-arg name="host" value="192.168.1.166"/>
        <constructor-arg name="port" value="6002"/>
    </bean>
    <bean id="hostAndPort4" class="redis.clients.jedis.HostAndPort">
        <constructor-arg name="host" value="192.168.1.166"/>
        <constructor-arg name="port" value="6003"/>
    </bean>
    <bean id="hostAndPort5" class="redis.clients.jedis.HostAndPort">
        <constructor-arg name="host" value="192.168.1.166"/>
        <constructor-arg name="port" value="6004"/>
    </bean>
    <bean id="hostAndPort6" class="redis.clients.jedis.HostAndPort">
        <constructor-arg name="host" value="192.168.1.166"/>
        <constructor-arg name="port" value="6005"/>
    </bean>
    <bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">
        <constructor-arg name="nodes">
            <set>
                <ref bean="hostAndPort1"/>
                <ref bean="hostAndPort2"/>
                <ref bean="hostAndPort3"/>
                <ref bean="hostAndPort4"/>
                <ref bean="hostAndPort5"/>
                <ref bean="hostAndPort6"/>
            </set>
        </constructor-arg>
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>

    </bean>





    <!--获取来接池配置-->
   <!-- <bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="close">
        <constructor-arg name="host" value="172.16.7.70"/>
        <constructor-arg name="port" value="6379"/>
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
    </bean>-->


</beans>