<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置Cookie路径-->
    <bean id="rememberCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <property name="maxAge" value="604800"/>
        <property name="httpOnly" value="true"/>
        <property name="name" value="remeberMe"/>
    </bean>

    <!--配置记住我路径-->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberCookie"/>
        <!--对账号密码进行加密-->
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"/>

     </bean>


    <!--1.配置安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="realm" ref="MyRealm"/>
        <!--配置记住我路径-->
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <!--2.配置缓存管理器-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>
    <!--3.自定义realam-->
    <bean id="MyRealm" class="com.libang.erp.shiro.MyRealm">
    </bean>

    <!--4.配置生命周期管理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!--配置权限规则-->
    <bean id="filterChainDefinitionMap" class="com.libang.erp.shiro.CustomerFilterChainDefinition">
        <property name="filterChainDefinitions">
            <value>
                /favicon.ico = anon
                /static/**=anon
                /logout=logout
            </value>
        </property>
    </bean>






    <!--5.开启基于注解的shiro-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <!--6.配置shiro过滤器-->
    <!--id的属性必须和web.xml中filter-name属性保持一致-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--配置安全管理器-->
        <property name="securityManager" ref="securityManager"/>
        <!--配置登录的url-->
        <property name="loginUrl" value="/manage/employ/login"/>
        <!--配置登录成功的url-->
        <property name="successUrl" value="/manage/employ/home"/>
        <!--配置没有权限的资源跳转-->
        <property name="unauthorizedUrl" value="/manage/employ/401"/>
        <!--自定义权限规则-->
        <property name="filterChainDefinitionMap" ref="filterChainDefinitionMap"/>


        <!--规则-->
      <!--  <property name="filterChainDefinitions">
            <value>
                /favicon.ico = anon
               /static/**=anon
                /logout=anon
                # /manage/employee/add = perms[employee:add]
               &lt;!&ndash; 最高级别的拦截&ndash;&gt;
              &lt;!&ndash;  /**=authc&ndash;&gt;
                 &lt;!&ndash;级别较低的拦截&ndash;&gt;
                /**=user
            </value>
        </property>-->

    </bean>

</beans>