<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--定义任务类-->
    <bean id="mySpringQuartzJob" class="com.libang.springQuartz.MySpringQuratzJob"/>
    <!--定义调度对象和方法-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="mySpringQuartzJob"/>
        <property name="targetMethod" value="sayHello"/>
    </bean>
    <!--定义Trigger-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" value="jobDetail"/>
        <property name="cronExpression" value="0/4 * * * *"/>
    </bean>

    <!--调度器-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>



</beans>