<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.libang.mapper.MovieMapper">

        <select id="findMovieByKeys" resultType="com.libang.entity.Movie">
              SELECT * from movie
              <if test="movieName !=null and movieName != ''">
                where movie_name like #{movieName}
              </if>
        </select>


    <!--多个参数进行查询-->
    <select id="findMovieByPage" resultType="com.libang.entity.Movie" parameterType="map">
        SELECT * FROM movie
        <where>
            <if test="movieName !=null and movieName != ''">
                 movie_name like #{movieName}
            </if>
            <if test="derictorName !=null and derictorName != ''">
                and derictor_name like #{derictorName}
            </if>

        </where>

    </select>


    <select id="findById" resultType="com.libang.entity.Movie" >
            SELECT*from movie where id in
            <foreach collection="idList" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </select>
    </mapper>
