<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libang.mapper.StudentMapper">

    <cache size="2048" readOnly="true" flushInterval="6000" eviction="LRU"/>


    <!--插入信息-->
    <!--   <insert id="save" parameterType="student" >
           insert into student (stu_name,age) values (#{stuName},#{age})
       </insert>
       -->
    <!--<insert id="save" parameterType="com.libang.entity.Student" useGeneratedKeys="true" keyProperty="id">
        insert into student (stu_name,age) values (#{stuName},#{age})
    </insert>


    &lt;!&ndash;查询所有信息&ndash;&gt;
    <select id="findAll" resultType="com.libang.entity.Student">

        select id, stu_name ,age from student
    </select>

    &lt;!&ndash;根据Id进行查询&ndash;&gt;
    <select id="findById" resultType="com.libang.entity.Student">
        select id ,stu_name ,age from student where id = #{id}
    </select>

    &lt;!&ndash;分页查询&ndash;&gt;
    <select id="findPage" resultType="com.libang.entity.Student">

        select id ,stu_name,age from student limit #{start} ,#{pageSize};

    </select>-->


    <!--手动进行提交：重点-->

  <!--  <resultMap id="StudentMap" type="com.libang.entity.Student">
        <id column="id" property="id"/>
        <result column="stu_name" property="stuName"/>
        <result column="age" property="age"/>

    </resultMap>

   <select id="findById" resultMap="StudentMap">
        select id ,stu_name ,age from student where id = #{id}
     </select>-->


<!--
    &lt;!&ndash;利用map集合进行查询&ndash;&gt;
    <select id="findPageByMap" parameterType="map" resultType="com.libang.entity.Student">

      select id ,stu_name,age from student limit #{start} ,#{pageSize};

    </select>

    &lt;!&ndash;根据id进行删除&ndash;&gt;
    <delete id="delById">
        delete from student where id =#{id}
    </delete>

    &lt;!&ndash;根据id进行更新数据&ndash;&gt;
    <update id="update" parameterType="com.libang.entity.Student">
        update student set stu_name = #{stuName},age=#{age} where id =#{id}
    </update>
-->


<!--=====================================================================================================-->
<resultMap id="baseMap" type="com.libang.entity.Student">
    <id column="id" property="id"/>
    <result column="stu_name" property="stuName"/>
    <result column="school_id" property="schoolId"/>
</resultMap>
    


    <!--一对一进行查询 或多对一-->

    <resultMap id="studentMap" type="com.libang.entity.Student" extends="baseMap" >
        <association property="school" javaType="com.libang.entity.School">
            <id column="id" property="id"/>
            <result column="school_name" property="schoolName"/>
        </association>
    </resultMap>

    <select id="findSchoolById" resultMap="studentMap" parameterType="int">

                    SELECT
                        student.id,
                        stu_name,
                        school_id,
                        school_name
                    FROM
                        student
                    INNER JOIN school ON school_id = school.id
                    WHERE
                     student.id = #{id}

    </select>


    <!--一对多查询-->
    <resultMap id="studentWithTypeMap" type="com.libang.entity.Student" extends="baseMap">
        <collection property="typeList" ofType="com.libang.entity.Type">
              <result column="type_name" property="typeName"/>
        </collection>
    </resultMap>

  
    <select id="findTypeById" resultMap="studentWithTypeMap">
           SELECT
                student.id,
                student.stu_name,
                school_id,
                type.type_name
            FROM
                student
            LEFT JOIN type_student ON student_id = student.id
            LEFT JOIN type ON type_id = type.id
            WHERE
                student.id = #{id}

    </select>

    <!--批量插入-->
    <insert id="addBatch" parameterType="list">
        insert into type(type_name)VALUES
        <foreach collection="typeList" separator="," item="type">
            (#{type.typeName})
        </foreach>

    </insert>





</mapper>