<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置服务器名称-->
    <dubbo:application name="ErpAdminWeb"/>
    <!--配置服务器地址-->
    <dubbo:registry address="zookeeper://192.168.1.169:2181;zookeeper://192.168.1.169:2182;zookeeper://192.168.1.169:2183"/>
    <dubbo:reference interface="com.libang.erp.service.RolesPermissionService" id="rolesPermissionService" timeout="5000"/>
    <dubbo:reference interface="com.libang.erp.service.RoleEmployeeService" id="roleEmployeeService" timeout="5000"/>
    <dubbo:reference interface="com.libang.erp.service.EmployeeService" id="employeeService" timeout="5000"/>
    <dubbo:reference interface="com.libang.erp.service.FixOrderService" id="fixOrderService" timeout="5000"/>


</beans>